<div class="modal-backdrop" (click)="cancel.emit()">
    <div class="modal" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span class="modal-icon">🗑️</span>
            <h2>Desactivar registro</h2>
        </div>

        <p class="modal-body">
            ¿Eliminar <strong>"{{ title }}"</strong>? Esta acción te permitira desactivar el registro.
        </p>

        <div class="modal-actions">
            <button class="btn-cancel" (click)="cancel.emit()">Cancelar</button>
            <button class="btn-delete" (click)="confirm.emit()">Desactivar</button>
        </div>
    </div>
</div>